:80 {
        encode gzip
        root * /git/dist
        try_files {path} /
        reverse_proxy /api/* localhost:3000
        reverse_proxy /download/* localhost:3000
        handle_errors {
                respond "{err.status_code} {err.status_text}"
        }
        file_server
}
