:80 {
        encode gzip
        handle /api/* {
                reverse_proxy localhost:3000
        }
        handle /download/* {
                reverse_proxy localhost:3000
        }
        handle {
                respond / "Hello, world!"
        }
        handle_errors {
                respond "{err.status_code} {err.status_text}"
        }
}
